@import 'utility'

body
	background: light-grey
	.container.main
		width: 800px
		padding: 50px
		background: white
		border-radius(5px)

	.header
		margin: _margin_top 0px 0px 0px

	.footer
		margin: 0px 0px _margin_top 0px 