@import 'utility'

body
	_sidebar_gray = #636363
	_yellow = #FFDC00
	dark-yellow = #ffc801
	_red = #F22C1E
	light-grey = #f6f6f6
	_light_gray = #D0CFCF
	_dark_gray = #E6E4E4
	_margin-top = 80px

	.yellow-button
		set-background(_yellow)

	.red-button
		set-background(_red)

	.yellow-button, .yellow-button-disabled, .red-button, .red-button-disabled
		border-radius(5px)
		color: black
		display: block
		animate-transition()

	.yellow-button-disabled, .red-button-disabled
		opacity: 0.75

	.yellow-button:hover, .red-button:hover
		opacity: 0.7
		cursor: pointer
		animate-transition()

	#landing
		.landing-header, .landing-footer
			width: 100%
			height: 50px

		.landing-footer
			height: 0px

		.container.main
			.title-landing
				height: 70px
				// margin-bottom: 10px

			.value-props
				margin-top: 25px
				margin-bottom: 30px

				.value-prop
					margin-top: 5px
					margin-bottom: 5px

			.questionForm
				margin: 20px 0 0 0

			.circle
				background-color: _yellow
				border-radius(50%)
				width: 55px
				height: h = 55px
				text-align: center
				padding-top: (h/3)
				font-size: 26px
				font-weight: bold
				color: #FFFFFF // yellow
				line-height: 21px

			.col-md-2.circle-width
				width: 10%
				padding-left: 0px
				margin-top: 9px

			.landing-prompt
				padding-left: 0px

				h2
					font-weight: bold

			.steps
				padding-left: 5px

				.unemphasized
					font-weight: normal

			.landing-prompt
				padding-left: 0px

			.logo-wrapper
				width: 4em
				height: 4em
				padding: 0px 0px
				margin-left: 9.3%
				opacity: .80

				img.logo
					width: 60px
					height: auto

			.title-wrapper
				padding-left: 25px

				.title
					font-weight: bold

			.call-to-action
				margin-top: 40px
				margin-left: 140px

				.square-button
					height: 55px
					line-height: @height
					width: 150px
					text-align: center
					vertical-align: center
					background: _yellow
					font-size: 18px
					font-weight: bold
					border-radius(2px)
					box-shadow(0 5px dark-yellow)

				.square-button:hover
					cursor: pointer
					margin-top: -1px
					box-shadow(0 6px dark-yellow)

				.square-button:active
					margin-top: 5px
					box-shadow(0 0px dark-yellow)

				.help-others-btn
					float: left

				.ask-question-btn
					float: right

				.help-others-wrapper
					background: _yellow
					border-radius(2px)
					box-shadow(0 5px dark-yellow)

				.ask-question-wrapper, .help-others-wrapper
					background: _yellow
					border-radius(2px)
					box-shadow(0 8px dark-yellow)
					// height: 200px
					padding: 10px 5px 10px 30px
					width: 425px

					.ask-question-form, .help-others-form

						.questions-group
							float: left
							width: 300px

							.email, .password, .question
								margin-top: 5px
								margin-bottom: 5px

						// Make this auto resize later
						.submit-group
							float: left
							height: 130px
							margin-top: 5px

							.ask-question-form-button
								position: relative
								left: 40%
								top: 50%
								set-background(dark-yellow)
								border-radius(5px)
								animate-transition()
								font-weight: bold
								font-size: 14px

					.help-others-form

						.questions-group
							width: 280px

						.submit-group
							height: 80px

							.help-others-form-button
								position: relative
								left: 20%
								top: 25%
								set-background(dark-yellow)
								border-radius(5px)
								animate-transition()
								font-weight: bold
								font-size: 14px						

	#dashboard
		.dashboard-header
			position: fixed !important
			width: 100%
			height: 60px
			background-color: _yellow // yellow
			box-shadow(0px 1px 15px _sidebar_gray)

			.header-content
				width: 980px
				display: block
				margin: auto

				.header-title
					float: left
					height: 60px
					margin: 0px 50px

					.logo-wrapper
						padding: 6px 0
						float: left
						margin-right: 10px

						img.logo
							width: 36px
							height: auto

					.title-wrapper
						float: left
						line-height: 60px
						vertical-align: middle
						font-size: 30px

				.header-buttons
					display: block
					float: right
					height: 60px
					margin: 0px 50px

					.header-icon
						padding: 4px 0px
						display: block
						float: left
						height: 60px
						width: 60px
						text-align: center

					.header-login
						width: 150px
						cursor: pointer

					.header-login:hover
						set-background(_light_gray)

					.ask-question
						cursor: pointer

					.ask-question:hover
						set-background(_light_gray)

					.header-circle
						display: block
						float: left
						background-color: black
						border-radius(50%)
						width: 38px
						height: 38px
						margin: 0px 10px
						text-align:center
						font-size: 22px
						font-weight: bold
						line-height: 41px
						color: _yellow // yellow

		#login-dropdown-list
			list-style: none

			.caret
				display: none

			.dropdown-toggle
				display: block
				padding: 15px 0px
				text-decoration: none
				overflow-ellipsis()
				animate-transition()

		.control-label
			font-weight: bold

		.container.main
			padding-top: 60px
			width: 900px
			background: white

		.icon-text 
			display: block
			float: left
			width: 60px
			margin: 0px
			font-size: 10pt

		.footer
			margin: 0px 0px _margin-top 0px

		.control-label
			font-weight: bold

		.question-sidebar
			width: 100px
			height: 100%
			display: block
			padding: 10px
			position: fixed
			// set-background(_light_gray)
			// margin: 0px auto

		.question-list
			width: 800px
			display: block
			padding: 10px
			margin-left: 100px
			// margin: 0px auto

		.question-tile
			width: 660px
			height: 145px
			display: block

		.question-tile-left, .question-tile-right
			height: 100%
			display: block
			float: left			

		.question-tile-left
			width: 550px
			background-color: _dark_gray
			// border-top-left-radius(8px)
			// border-bottom-left-radius(8px)

		.question-tile-right
			width: 100px
			background-color: _light_gray
			// border-top-right-radius(8px)
			// border-bottom-right-radius(8px)

		.owned-questions .question-tile
			border: 5px solid _yellow
			// border-radius(15px)

		.other-questions .question-tile
			border: 5px solid transparent
			// border-radius(15px)

		.left-item
			height: 30px
			margin: 7px 15px

		.question-category
			font-weight: bold

		.question-tag
			background: #595959
			border-radius(5px)
			color: white
			font-size: 16px
			padding: 2px 10px
			margin-right: 10px
			display: block
			float: left
			text-decoration: none
			animate-transition()

		.question-tag:hover
			opacity: 0.75
			cursor: pointer
			animate-transition()

		.question-circle
			display: block
			background-color: black
			border-radius(50%)
			width: 70px
			height: 70px
			margin: 13px
			text-align:center
			font-size: 40px
			font-weight: bold
			line-height: 73px
			color: #D0CFCF // light grey

		.overlay
			opacity: 0.7
			background: #000
			width: 100%
			height: 100%
			z-index: 10
			top: 0
			left: 0
			position: fixed

		.ask-question-popup
			h = 400px
			w = 400px
			pad = 25px

			display: block
			position: absolute
			top: 50%
			left: 50%
			width: w
			margin-top: -(h/2)
			margin-left: -(w/2)
			z-index: 20
			background: white
			border-radius(10px)
			border: 3px solid #D0CFCF

			.container
				width: h - pad
				padding: pad 20px pad 20px

				textarea#question-text
					padding: 4px 6px

		.ask-question-popup textarea
			resize: none

		#question-submit
			float: right
			margin: 0px

		.searching-for-tutor
			text-align: center
			padding: 20px
			width: 700px
			margin: 0px auto
			margin-top: 30px
			background-color: #FFFFBE
			border-radius(10px)
			font-size: 16px

		.found-tutor-popup
			display: block
			position: fixed
			top: 50%
			left: 50%
			margin-top: -162px
			margin-left: -200px
			height: 325px
			width: 400px
			z-index: 100
			color: #FFFFFF
			text-align: center

		.not-enough-karma-popup
			display: block
			position: fixed
			top: 50%
			left: 50%
			height: h = 325px
			width: w = 400px			
			margin-top: -(h/2)
			margin-left: -(w/2)
			z-index: 100
			color: #FFFFFF
			text-align: center

			.back-to-dashboard-button
				width: 120px
				clear: both
				font-size: 16px
				margin: 10px auto
				font-weight: bold
				padding: 5px 10px			

		.tutor-picture
			float: left

		.tutor-picture img
			margin-left: 50px
			margin-bottom: 20px
			height: 100px
			width: 100px
			padding: 10px

		.tutor-info
			text-align: left
			float: left
			padding: 10px
			margin-top: 10px

		.tutor-info p
			margin: 0px

		.start-session-button
			width: 120px
			clear: both
			font-size: 16px
			margin: 10px auto
			font-weight: bold
			padding: 5px 10px

		.decline-button
			color: #d0cfcf
			font-size: 16px
			margin: 0px auto
			display: block
			float: left
			text-decoration: underline
			width: 400px

		.decline-button:hover
			cursor: pointer			

		.accept-question, .cancel-question
			font-size: 16px
			padding: 5px 10px
			margin: 0px 15px

		.ask-question-icon
			width: 38px
			height: 38px

		.submit-question
			font-size: 16px
			padding: 5px 10px

		input[type="text"]
			height: 34px

		input[type="number"]
			height: 34px
			width: 100px

	#tutoringSession
		position: relative
		overflow: hidden

		.sidebar
			position: fixed
			top: 0px
			left: 0px
			right: auto
			width: 160px		
			background: _sidebar_gray
			float: left
			height: 100%
			padding: 20px 0 0 0

			.logo-wrapper
				margin-top: 0.5em
				margin-bottom: 6em
				opacity: 0.7
				animate-transition()

				img.logo
					display: block
					margin-left: auto
					margin-right: auto					
					width: 55px
					height: auto

			.logo-wrapper:hover
				opacity: 1.0
				animate-transition()

			.wrapper, .active-wrapper
				width: 100%

			.active-wrapper
				background: white

			.whiteboard-button, .file-button, .wolfram-button
				img.whiteboard-button-img, img.file-button-img, img.wolfram-button-img
					display: block
					margin-left: auto
					margin-right: auto	
					width: 90px
					height: auto				

			.file-button
				img.file-button-img
					width: 60px

			.wolfram-button
				img.wolfram-button-img
					width: 85px

			.whiteboard-button, .file-button, .wolfram-button
				padding: 1em 0

			.whiteboard-button:hover, .file-button:hover, .wolfram-button:hover
				cursor: pointer

		.sharingFiles, .wolfram
			padding-top: 22px

			img.files-screenshot
				width: 555px
				height: auto

		.wolfram
			margin-top: 22px

		.sharingFiles, .wolfram
			display: none

			img.wolfram-screenshot
				width: 555px
				height: auto

		.whiteboard
			padding-top: 20px

			.whiteboard-controls
				margin-left: 0px
				margin-right: 0px
				padding: 5px 0px 5px 5px

				.clear-blackboard
					float: right
					margin-left: 15px

				.erase, .draw
					margin-left: 5px
					float: right

			.canvas-wrapper
				margin-left: 0px
				margin-right: 0px
				height: 580px
				background: black

		.end-session
			position: fixed
			color: gray
			font-size: 16px
			bottom: 2em
			left: 0
			width: 160px
			animate-transition()

		.end-session:hover
			cursor: pointer
			color: white
			animate-transition()

		.chatBoxContainer
			padding: 20px

			.chatMessages
				height: 300px
				width: 250px
				padding: 10px
				overflow: auto
				border-radius(2px)
				container-border()
				margin-bottom: 10px

			.chat-message
				width: 250px
