@import 'utility'

body
	_sidebar_gray = #636363
	_yellow = #FFDC00
	light-grey = #f6f6f6
	_margin-top = 80px

	.yellow-button, .yellow-button-disabled
		background: _yellow
		background-image: -webkit-linear-gradient(top, _yellow, _yellow)
		background-image: -moz-linear-gradient(top, _yellow, _yellow)
		background-image: -ms-linear-gradient(top, _yellow, _yellow)
		background-image: -o-linear-gradient(top, _yellow, _yellow)
		background-image: linear-gradient(to bottom, _yellow, _yellow)
		border-radius(5px)
		border: 0px
		font-family: Arial
		color: black
		display: block
		text-decoration: none
		animate-transition()

	.yellow-button-disabled
		opacity: 0.75

	.yellow-button:hover
		opacity: 0.7
		cursor: pointer
		animate-transition()

	.logo-img-dashboard
		width: 2.6em
		height: 2.6em
		padding: 4px 0

		img
			width: 36px
			height: 50px

	.logo-img-landing
		width: 4em
		height: 4em
		padding: 0px 0px
		margin-left: 9.5%
		margin-top: -12px
		opacity: .80

		img
			width: 51px
			height: 70px

	.logo-title-landing
		padding-left: 25px

	.title-landing
		height: 70px

	.logo-img-tutor-session
		width: 3.5em
		height: 3.5em
		margin-left: auto
		margin-right: auto
		margin-top: 0.5em
		margin-bottom: 6em
		opacity: 0.7
		animate-transition()

	.logo-img-tutor-session:hover
		opacity: 1.0		
		animate-transition()

	#landing
		.header, .footer
			width: 100%
			height: 80px

		.footer
			height: 0px

		.questionForm
			margin: 20px 0 0 0

		.circle
			background-color: _yellow
			border-radius(50%)
			width: 55px
			height: 55px
			text-align: center
			padding-top: (@height/3)
			font-size: 26px
			font-weight: bold
			color: #FFFFFF // yellow
			line-height: 21px;

		.col-md-2.circle-width
			width: 10%
			padding-left: 0px
			margin-top: 9px

		.landing-prompt
			padding-left: 0px

			h2
				font-weight: bold

		.steps
			padding-left: 5px

			.unemphasized
				font-weight: normal

		.landing-prompt
			padding-left: 0px

	#dashboard
		.control-label
			font-weight: bold

		.container.main
			width: 800px
			background: white

		.header
			width: 100%
			height: 60px
			background-color: _yellow

		.header-content
			width: 980px
			height: 60px
			display: block
			margin: auto

		.header-title
			display: block
			float: left
			height: 60px
			margin: 0px 50px

		.header-title h2
			margin: 10px 0px

		.header-buttons
			display: block
			float: right
			height: 60px
			margin: 0px 50px

		.header-icon
			margin-top: 4px
			display: block
			float: left
			height: 60px
			width: 60px
			text-align: center
			cursor: pointer

		.header-login
			width: 200px

		.header-circle
			display: block
			float: left
			background-color: black
			border-radius(50%)
			width: 38px
			height: 38px
			margin: 0px 10px
			text-align:center
			font-size: 22px
			font-weight: bold
			line-height: 41px
			color: _yellow // yellow

		.icon-text 
			display: block
			float: left
			width: 60px
			margin: 0px
			font-size: 10pt

		.footer
			margin: 0px 0px _margin-top 0px

		.control-label
			font-weight: bold

		.question-list
			width: 700px
			display: block
			padding: 10px
			margin: 0px auto

		.question-tile
			width: 500px
			height: 140px
			margin: 20px auto
			display: block

		.question-tile-left, .question-tile-right
			height: 100%
			display: block
			float: left			

		.question-tile-left
			width: 390px
			background-color: #E6E4E4 // darker grey
			border-top-left-radius(8px)
			border-bottom-left-radius(8px)

		.question-tile-right
			width: 100px
			background-color: #D0CFCF // light grey
			border-top-right-radius(8px)
			border-bottom-right-radius(8px)

		.left-item
			height: 30px
			margin: 7px 15px

		.question-title
			font-weight: bold

		.question-tag
			background: #595959
			border-radius(5px)
			color: white
			font-size: 16px
			padding: 2px 10px
			margin-right: 10px
			display: block
			float: left
			text-decoration: none
			animate-transition()

		.question-tag:hover
			opacity: 0.75
			cursor: pointer
			animate-transition()

		.question-circle
			display: block
			background-color: black
			border-radius(50%)
			width: 70px
			height: 70px
			margin: 13px
			text-align:center
			font-size: 40px
			font-weight: bold
			line-height: 73px
			color: #D0CFCF // light grey

		.overlay
			opacity: 0.7
			background: #000
			width: 100%
			height: 100%
			z-index: 10
			top: 0
			left: 0
			position: fixed

		.ask-question-popup
			h = 400px
			w = 400px
			pad = 25px

			display: block
			position: absolute
			top: 50%
			left: 50%
			width: w
			margin-top: -(h/2)
			margin-left: -(w/2)
			z-index: 20
			background: white
			border-radius: 10px
			border: 3px solid #D0CFCF

			.container
				width: h - pad
				padding: pad 20px pad 20px

				textarea#question-text
					padding: 4px 6px

		.ask-question-popup textarea
			resize: none

		#question-submit
			float: right
			margin: 0px

		.searching-for-tutor
			text-align: center
			padding: 20px
			width: 700px
			margin: 0px auto
			margin-top: 30px
			background-color: #FFFFBE
			border-radius: 10px
			font-size: 16px

		.found-tutor-popup
			display: block
			position: fixed
			top: 50%
			left: 50%
			margin-top: -162px
			margin-left: -200px
			height: 325px
			width: 400px
			z-index: 100
			color: #FFFFFF
			text-align: center

		.not-enough-karma-popup
			display: block
			position: fixed
			top: 50%
			left: 50%
			height: h = 325px
			width: w = 400px			
			margin-top: -(h/2)
			margin-left: -(w/2)
			z-index: 100
			color: #FFFFFF
			text-align: center

			.back-to-dashboard-button
				width: 120px
				clear: both
				font-size: 16px
				margin: 10px auto
				font-weight: bold
				padding: 5px 10px			

		.tutor-picture
			float: left

		.tutor-picture img
			margin-left: 50px
			margin-bottom: 20px
			height: 100px
			width: 100px
			padding: 10px

		.tutor-info
			text-align: left
			float: left
			padding: 10px
			margin-top: 10px

		.tutor-info p
			margin: 0px

		.start-session-button
			width: 120px
			clear: both
			font-size: 16px
			margin: 10px auto
			font-weight: bold
			padding: 5px 10px

		.decline-button
			color: #d0cfcf
			font-size: 16px
			margin: 0px auto
			display: block
			float: left
			text-decoration: underline
			width: 400px

		.decline-button:hover
			cursor: pointer			

		.accept-question
			font-size: 16px
			padding: 5px 10px
			margin: 0px 15px

		.ask-question-icon
			width: 38px
			height: 38px

		.submit-question
			font-size: 16px
			padding: 5px 10px

		input[type="text"]
			height: 34px

		input[type="number"]
			height: 34px
			width: 100px

	#tutoringSession
		position: relative
		overflow: hidden

		.sidebar
			position: fixed
			top: 0px
			left: 0px
			right: auto
			width: 10em			
			background: _sidebar_gray
			float: left
			height: 100%
			padding: 20px 0 0 0

			.wrapper, .active-wrapper
				width: 100%

			.active-wrapper
				background: white

			.whiteboard-button, .file-button, .wolfram-button 
				margin-top: 1em
				margin-bottom: 1em
				margin-left: auto
				margin-right: auto
				width: 6em
				height: 7em
				display: block
				
			.whiteboard-button
				padding-top: 1.3em

			.file-button
				width: 4em
				padding-top: 1.3em

			.wolfram-button
				padding-top: 0.5em

			.whiteboard-button:hover, .file-button:hover, .wolfram-button:hover
				cursor: pointer

		.whiteboard, .sharingFiles, .wolfram
			margin-top: 22px

		.sharingFiles, .wolfram
			display: none

		.end-session
			position: fixed
			color: gray
			font-size: 16px
			bottom: 2em
			margin-left: 22px
			animate-transition()

		.end-session:hover
			cursor: pointer
			color: white
			animate-transition()

		.chatBoxContainer
			padding: 20px

			.chatMessages
				height: 300px
				width: 250px
				padding: 10px
				overflow: auto
				border-radius(2px)
				container-border()
				margin-bottom: 10px

			.chat-message
				width: 250px
