@import 'utility'

body
	background: light-grey 

	.container.main
		width: 800px
		padding: 50px
		background: white
		// border-radius(3px)
		// container-border()

	.header
		// margin: _margin_top 0px 0px 0px
		width: 100%
		height: 60px
		background-color: #FFD300 // yellow
		// float: left

	.header-content
		width: 980px
		height: 60px
		display: block
		margin: auto

	.header-title
		display: block
		float: left
		height: 60px
		margin: 0px 50px

	.header-title h2
		margin: 10px 0px

	.header-buttons
		display: block
		float: right
		height: 60px
		margin: 0px 50px

	.header-icon
		display: block
		float: left
		height: 60px
		width: 60px
		text-align: center

	.header-circle
		display: block
		float: left
		background-color: black
		border-radius: 50%
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		width: 40px
		height: 40px
		margin: 0px 10px
		text-align:center
		font-size: 24px
		line-height: 44px
		color: #FFD300 // yellow

	.icon-text 
		display: block
		float: left
		width: 60px
		margin: 0px
		font-size: 10pt

	.footer
		margin: 0px 0px _margin_top 0px

	.control-label
		font-weight: bold