@import 'utility'

html
	height: 100%

body
	_margin-top = 80px

	_yellow = #FFDC00
	_dark_yellow = #FFBB00
	_light_gray = #D7D7D7
	_medium_gray = #E7E7E7
	_dark_gray = #636363

	_red = #F22C1E
	_blue = #3276B1

	// z-index
	// layer 1: pop-up 100
	// layer 2: overlay 90
	// layer 3: header 80

	height: 100%

	textarea
		resize: none

	.yellow-button
		set-background(_yellow)
		color: black

	.red-button
		set-background(_red)
		color: black

	.blue-button
		set-background(_blue)
		color: white

	.yellow-button, .yellow-button-disabled, .red-button, .red-button-disabled, .blue-button
		border-radius(5px)
		display: block
		animate-transition()

	.yellow-button-disabled, .red-button-disabled
		opacity: 0.75

	.yellow-button:hover, .red-button:hover, .blue-button:hover
		opacity: 0.7
		cursor: pointer
		animate-transition()

	.overlay
		opacity: 0.7
		background: black
		width: 100%
		height: 100%
		z-index: 90
		top: 0
		left: 0
		position: fixed

	.popup
		h = 400px
		w = 400px
		pad = 25px

		display: block
		position: fixed
		top: 50%
		left: 50%
		width: w
		margin-top: -(h/2)
		margin-left: -(w/2)
		z-index: 100
		background: white
		border-radius(10px)
		border: 3px solid _light_gray

		.close-popup-button
			position: absolute
			top: 5px
			right: 10px

		.container
			width: h - pad
			padding: pad 20px pad 20px

		p
			text-align: justify

	.header
		position: fixed !important
		width: 100%
		height: 60px
		z-index: 80
		background-color: _yellow
		box-shadow(0px 1px 15px _dark_gray)

		.header-content
			width: 980px
			display: block
			margin: auto

			.header-title
				float: left
				height: 60px
				margin: 0px 50px

				.logo-wrapper
					padding: 6px 0
					float: left
					margin-right: 10px

					img.logo
						width: 36px
						height: auto

				.title-wrapper
					float: left
					line-height: 60px
					vertical-align: middle
					font-size: 30px

			.header-buttons
				display: block
				float: right
				height: 60px
				margin: 0px 50px

				.header-icon
					padding: 4px 0px
					display: block
					float: left
					height: 60px
					width: 60px
					text-align: center

				.header-login
					width: 150px
					cursor: pointer

				.header-login:hover
					set-background(_dark_yellow)

				.ask-question-icon
					width: 38px
					height: 38px

				.ask-question
					cursor: pointer

				.ask-question:hover
					set-background(_dark_yellow)

				.header-circle
					display: block
					float: left
					background-color: black
					border-radius(50%)
					width: 38px
					height: 38px
					margin: 0px 10px
					text-align:center
					font-size: 22px
					font-weight: bold
					line-height: 41px
					color: _yellow
					box-shadow: 0px 0px 1px black

	#feedback
		height: 104px
		width: 104px
		position: fixed
		top: 40%
		z-index: 80
		transform: rotate(-90deg)
		-webkit-transform: rotate(-90deg) 
		-moz-transform: rotate(-90deg)
		-o-transform: rotate(-90deg)
		// filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)

	#feedback a
		display: block
		set-background(_dark_gray)
		padding: 8px 16px
		color: #fff
		font-size: 17px
		font-weight: bold
		text-decoration: none
		border-bottom: solid 1px #333
		border-left: solid 1px #333
		border-right: solid 1px #333

	#feedback a:hover
		padding-top: 20px

	#login-dropdown-list
		list-style: none

		.caret
			display: none

		.dropdown-toggle
			display: block
			padding: 15px 0px
			text-decoration: none
			overflow-ellipsis()
			animate-transition()

		#signup-link
			display: none

	.icon-text 
		display: block
		float: left
		width: 60px
		margin: 0px
		font-size: 10pt

	#landing
		min-height: 100%
		background: url('/home_background.jpg')
		background-size: 100%
		background-repeat: no-repeat
		background-color: #141414

		.container.main
			padding-top: 90px
			padding-left: 0px
			padding-right: 0px
			width: 100%

			.title-landing
				text-align: center
				margin-bottom: 20px
				width: 100%
				color: white

				h1
					line-height: 60px

			.value-props
				// margin-top: 25px
				// margin-bottom: 30px
				color: white

				.value-prop
					margin-top: 25px
					margin-bottom: 5px

					.steps
						margin-left: -40px

					h2
						margin-top: 10px

			.questionForm
				margin: 20px 0 0 0

			.circle
				background-color: _yellow
				border-radius(50%)
				width: 55px
				height: h = 55px
				text-align: center
				padding-top: (h/3)
				font-size: 26px
				font-weight: bold
				color: white
				line-height: 21px

			.col-md-2.circle-width
				width: 10%
				padding-left: 0px
				margin-top: 9px

			.landing-prompt
				padding-left: 0px

				h2
					font-weight: bold

			.steps
				padding-left: 5px

				.unemphasized
					font-weight: normal

			.landing-prompt
				padding-left: 0px

			.logo-wrapper
				width: 4em
				height: 4em
				padding: 0px 0px
				margin-left: 9.3%
				opacity: .80

				img.logo
					width: 60px
					height: auto

			.title-wrapper
				padding-left: 25px

				.title
					font-weight: bold

			.call-to-action
				margin-top: 30px
				margin-left: -70px

				.square-button
					height: 55px
					line-height: @height
					width: 150px
					text-align: center
					vertical-align: center
					background: _yellow
					font-size: 18px
					font-weight: bold
					border-radius(2px)
					box-shadow(0 5px _dark_yellow)

				.square-button:hover
					cursor: pointer
					margin-top: -1px
					box-shadow(0 6px _dark_yellow)

				.square-button:active
					margin-top: 5px
					box-shadow(0 0px _dark_yellow)

				.help-others-btn
					// float: left

				.ask-question-btn
					// float: right

				.help-others-wrapper
					background: _yellow
					border-radius(2px)
					box-shadow(0 5px _dark_yellow)

				.ask-question-wrapper, .help-others-wrapper
					background: _yellow
					border-radius(2px)
					box-shadow(0 8px _dark_yellow)
					// height: 200px
					padding: 10px 5px 10px 30px
					width: 425px

					.ask-question-form, .help-others-form

						.questions-group
							float: left
							width: 300px

							.email, .password, .question, .name, .school
								margin-top: 5px
								margin-bottom: 5px

						// Make this auto resize later
						.submit-group
							float: left
							height: 130px
							margin-top: 5px

							.ask-question-form-button
								position: relative
								left: 40%
								top: 50%
								set-background(_dark_yellow)
								border-radius(5px)
								animate-transition()
								font-weight: bold
								font-size: 14px

					.help-others-form

						.questions-group
							width: 280px

						.submit-group
							height: 80px

							.help-others-form-button
								position: relative
								left: 20%
								top: 25%
								set-background(_dark_yellow)
								border-radius(5px)
								animate-transition()
								font-weight: bold
								font-size: 14px

	#dashboard
		.control-label
			font-weight: bold

		.container.main
			padding-top: 75px
			width: 920px
			background: white

		.footer
			margin: 0px 0px _margin-top 0px

		.control-label
			font-weight: bold

		.question-sidebar
			width: 150px
			height: 100%
			display: block
			float: left
			padding-left: 0px
			padding: 10px
			// position: fixed

			@media screen and (min-width: 920px)
				position: fixed !important

			.category
				cursor: pointer
				border-radius(5px)
				color: white
				font-size: 14px
				padding: 2px 10px
				display: block
				float: left
				clear: both
				margin-bottom: 10px
				animate-transition()

			.category:hover
				opacity: 0.75
				animate-transition()

			.active
				set-background(_dark_yellow)
			.inactive
				set-background(_dark_gray)

		.question-list
			// width: 800px
			display: block
			padding: 10px
			margin-left: 140px
			// margin: 0px auto

		.question-tile
			height: 145px
			display: inline-block

		.question-tile-left, .question-tile-right
			height: 100%
			display: block
			float: left

		.question-tile-left
			width: 560px
			background-color: _medium_gray
			padding: 7px 15px
			// border-top-left-radius(8px)
			// border-bottom-left-radius(8px)

		.question-tile-right
			width: 100px
			background-color: _light_gray
			text-align: center
			// border-top-right-radius(8px)
			// border-bottom-right-radius(8px)

		.owned-questions .question-tile
			border: 3px solid _yellow
			// border-radius(15px)

		.other-questions, .resolved-questions .question-tile
			// aligns owned/other tiles
			border-left: 3px solid transparent
			border-right: 3px solid transparent
			// border-radius(15px)

		.left-item
			height: 30px

		.question-tag
			background: _dark_gray
			border-radius(5px)
			color: white
			font-size: 14px
			padding: 2px 10px
			margin-right: 10px
			display: block
			float: left
			text-decoration: none
			animate-transition()

		.question-tag:hover
			opacity: 0.75
			cursor: pointer
			animate-transition()

		.question-circle
			display: block
			background-color: black
			border-radius(50%)
			width: 70px
			height: 70px
			margin: 13px auto
			text-align:center
			font-size: 40px
			font-weight: bold
			line-height: 73px
			color: _light_gray
			box-shadow: 0px 0px 1px black

		#question-submit
			float: right
			margin: 0px

		.found-tutor-popup
			display: block
			position: fixed
			top: 50%
			left: 50%
			margin-top: -162px
			margin-left: -200px
			height: 325px
			width: 400px
			z-index: 100
			color: white
			text-align: center

		.not-enough-karma-popup
			display: block
			position: fixed
			top: 50%
			left: 50%
			height: h = 325px
			width: w = 400px
			margin-top: -(h/2)
			margin-left: -(w/2)
			z-index: 100
			color: white
			text-align: center

			.back-to-dashboard-button
				width: 120px
				clear: both
				font-size: 16px
				margin: 10px auto
				font-weight: bold
				padding: 5px 10px

		.tutor-picture
			float: left

		.tutor-picture img
			margin-left: 50px
			margin-bottom: 20px
			height: 100px
			width: 100px
			padding: 10px

		.tutor-info
			text-align: left
			float: left
			padding: 10px
			margin-top: 10px

		.tutor-info p
			margin: 0px

		.start-session-button
			width: 120px
			clear: both
			font-size: 16px
			margin: 10px auto
			font-weight: bold
			padding: 5px 10px

		.decline-button
			color: _light_gray
			font-size: 16px
			margin: 0px auto
			display: block
			float: left
			text-decoration: underline
			width: 400px

		.decline-button:hover
			cursor: pointer			

		.accept-question, .cancel-question
			font-size: 16px
			padding: 5px 10px
			margin: 0px 15px

		.status-resolved
			set-background(_dark_gray)
			border-radius(5px)
			color: white
			font-size: 14px
			padding: 2px 10px
			float: left
			margin-left: 10px
			display: block
			animate-transition()

		

		.submit-question
			font-size: 16px
			padding: 5px 10px

		input[type="text"]
			height: 34px

		input[type="number"]
			height: 34px
			width: 100px

	#classroomSession
		position: relative
		overflow: hidden

		.sidebar
			position: fixed
			top: 0px
			left: 0px
			right: auto
			width: 160px		
			background: _dark_gray
			float: left
			height: 100%
			padding: 20px 0 0 0

			.logo-wrapper
				margin-top: 0.5em
				margin-bottom: 6em
				opacity: 0.7
				animate-transition()

				img.logo
					display: block
					margin-left: auto
					margin-right: auto
					width: 55px
					height: auto

			.logo-wrapper:hover
				opacity: 1.0
				animate-transition()

			.wrapper, .active-wrapper
				width: 100%
				height: 100px

			.active-wrapper
				background: white

			.whiteboard-button, .file-button, .wolfram-button
				img.whiteboard-button-img, img.file-button-img, img.wolfram-button-img
					display: block
					margin-left: auto
					margin-right: auto
					width: 90px
					height: auto

			.file-button
				img.file-button-img
					width: 60px

			.wolfram-button
				img.wolfram-button-img
					width: 85px

			.whiteboard-button, .file-button, .wolfram-button
				padding: 1em 0

			.whiteboard-button:hover, .file-button:hover, .wolfram-button:hover
				cursor: pointer

		.file-sharing, .wolfram
			padding-top: 22px

			img.files-screenshot
				width: 555px
				height: auto

		.wolfram
			margin-top: 22px

		.file-sharing, .wolfram
			display: none

			img.wolfram-screenshot
				width: 555px
				height: auto

		.whiteboard
			padding-top: 20px

			.whiteboard-controls
				margin-left: 0px
				margin-right: 0px
				padding: 5px 0px 5px 5px

				.clear-blackboard
					float: right
					margin-left: 15px

				.erase, .draw
					margin-left: 5px
					float: right

			.canvas-wrapper
				margin-left: 0px
				margin-right: 0px
				height: 580px
				background: black

		.end-session
			position: fixed
			color: gray
			font-size: 16px
			bottom: 2em
			left: 0
			width: 160px
			animate-transition()

		.end-session:hover
			cursor: pointer
			color: white
			animate-transition()

		.chat-box-container
			padding: 20px

			.chat-messages
				height: 300px
				width: 280px
				padding: 10px
				overflow: auto
				word-wrap: break-word
				border-radius(2px)
				container-border()
				margin-bottom: 10px

			.input-chat-message-container

				.incoming-audio-call-overlay
					opacity: 0.7
					background: black
					width: 280px
					height: 140px
					z-index: 90
					position: fixed

				.incoming-audio-call-popup
					width: 280px
					height: 140px
					position: fixed
					z-index: 91

					.accept-incoming-audio-call
						margin: 0 auto
						width: 80px
						padding: 10px 15px 10px 15px

					.decline-button
						text-align: center
						text-decoration: underline
						color: _dark_yellow
						cursor: pointer
						margin-top: 5px

				.input-chat-message
					width: 260px
					margin-left: 10px
					margin-top: 10px
					container-border()
					outline: 0px transparent

				.audio-call-container
					margin: 5px 10px 5px 10px

	#profile

		.container.main
			padding-top: 75px
			width: 920px
			background: white

		.section
			width: 100%
			clear: both

		.picture img
			width: 200px
			height: 200px

		.edit-skills-button
			padding: 10px
			width: 130px
			margin: 10px 0px

		.skill-box
			width: 100px
			height: 100px
			display: block
			float: left
			word-wrap: break-word
			padding: 3px
			margin: 5px

		.active
			background-color: _yellow

		.inactive
			background-color: _dark_gray