@import 'utility'

body
	.question-list
		width: 800px
		display: block
		float: left
		padding: 10px

	.question-tile
		width: 500px
		height: 120px
		margin: 20px auto
		display: block
		border-radius: 80%
		-moz-border-radius: 80%;
		-webkit-border-radius: 80%;

	.question-tile-left
		width: 400px
		height: 100%
		display: block
		float: left
		background-color: #E6E4E4 // darker grey

	.question-tile-right
		width: 100px
		height: 100%
		display: block
		float: left
		background-color: #D0CFCF // light grey

	.question-circle
		display: block
		float: left
		background-color: black
		border-radius: 50%
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		width: 80px
		height: 80px
		margin: 0px 10px
		text-align:center
		font-size: 50px;
		line-height: 80px;
		color: #D0CFCF // yellow
