vendor(property, args)
  -webkit-{property} args
  -moz-{property} args
  -ms-{property} args
  -o-{property} args
  {property} args

box-shadow()
  vendor('box-shadow', arguments)

border-top-right-radius()
  vendor('border-top-right-radius', arguments)

border-bottom-right-radius()
  vendor('border-bottom-right-radius', arguments)

border-top-left-radius()
  vendor('border-top-left-radius', arguments)

border-bottom-left-radius()
  vendor('border-bottom-left-radius', arguments)

border-radius()
  vendor('border-radius', arguments)

set-background()
  background: arguments
  background-image: -webkit-linear-gradient(top, arguments, arguments)
  background-image: -moz-linear-gradient(top, arguments, arguments)
  background-image: -ms-linear-gradient(top, arguments, arguments)
  background-image: -o-linear-gradient(top, arguments, arguments)
  background-image: linear-gradient(to bottom, arguments, arguments)

container-border()
  border: 1px solid #c5c5c5

animate-transition()
  vendor('transition', all 500ms ease)

overflow-ellipsis()
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;