<template name="landingPage">
	<div id="splash">
		<img id="logo" src="/splash_logo.png">
		<div id="splashcontent">
			<h1>
			Welcome to PairBasket, <br> <div class="subtitle">A community of students <br> teaching students.</div>
			</h1>
			<ul class="topCTA">
				<li>Help Others</li>
				<li>Ask a Question</li>
			</ul>
		</div>
	</div>

	<div class="valuebg">
		<div class="wrapper">
			<h2>What is PairBasket?</h2>
			<div class="col1">
				<img src="/pencil.png">
			</div>
			<div class="col1">
				<img src="/platform.png">
			</div>
			<div class="col1">
				<img src="/community.png">
				
			</div>
			<div class="col2">
				<p><strong>A COMMUNITY THAT</br>LEARNS TOGETHER </strong></br></br>Aimed towards highschool and university
student who are eager to learn and learn
through teaching.</p>
			</div>
			<div class="col2">
				<p><strong>AN ONLINE PLATFORM FOR</br>FREE EXCHANGE OF KNOWLEDGE</strong></br></br>Get free help by helping others. Earn 
Karma by answering questions and use it 
to ask for help.
</p>
			</div>
			<div class="col2">
				<p><strong>INSTANT, REAL</br>TIME, ONE-ON-ONE HELP</strong></br></br>Not just answers from months
ago like Yahoo Answers, but personalized,
real time one-on-one help.</p>
			</div>
		</div>
	</div><!-- valuebg -->
	<div class="ssbg">
		<div class="sswrapper">
			<img src="/ask_ss.png?">
			<img src="/session_ss.png">
			<img src="/dash_ss.png">
			<div  id="disc1"class="disc">Ask for help using
		Karma and get
		notified when a tutor
		is found.
		</div>
		<div id="disc2" class="disc">Chat, call, and share
files. Or communicate
through a whiteboard.
		</div>
		<div id="disc3" class="disc">Earn Karma by 
helping others, there's 
always a plethora 
of questions!
		</div>
		<div id="spacer">
		</div>
		</div>
		
		
	</div><!-- ssbg -->	
	<div id="CTA"><h3>Let's build a community of students<br>teaching students.</h3><br>
		<div id="CTAwrapper">
		<ul class="bottomCTA">
				<li>Help Others</li>
				<li>Ask a Question</li>
		</ul>
		</div>
	<div id="spacer"></div>
	</div>
</template>