<template name="landingPage">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <h1>Welcome to <i>Pair Basket</i></h1>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="col-md-2 circle-width">
          <div class="circle">1</div>
        </div>
        <div class="col-md-8">
          <h2>Get tutored <i>for free</i></h2>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="col-md-2 circle-width">
          <div class="circle">2</div>
        </div>
        <div class="col-md-8">
          <h2>Tutor somebody else.</h2>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="col-md-2 circle-width">
          <div class="circle">2</div>
        </div>
        <div class="col-md-8">
          <h2><b>That's it.</b></h2>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="col-md-3">
          <h2>What do you need help with?</h2>
        </div>
        <div class="col-md-7">
          <form role="form" class="questionForm">
            <div class="form-group">
              <textarea class="form-control" rows="5"></textarea>
            </div>
            <button type="submit" id="landingAskQuestion" class="btn btn-default pull-right">Submit</button>
          </form>
        </div>
     </div>
</template>