<template name="landingPage">
  <div class="row title-landing">
    <div class="col-md-2 logo-wrapper">
    </div>
    <div class="col-md-8 title-wrapper">
      <h1 class="title">Welcome to PairBasket</h1>
    </div>
  </div>

  <div class="col-md-6 value-props col-md-offset-1">
    <div class="row value-prop">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3 circle-width">
          <div class="circle">1</div>
        </div>
        <div class="col-md-9 steps">
          <h2 class="unemphasized">Ask a school question</h2>
        </div>
      </div>
    </div>
    <div class="row value-prop">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3 circle-width">
          <div class="circle">2</div>
        </div>
        <div class="col-md-9 steps">
          <h2 class="unemphasized">Get 1-on-1 help for <b>free</b></h2>
        </div>
      </div>
    </div>
    <div class="row value-prop">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3 circle-width">
          <div class="circle">3</div>
        </div>
        <div class="col-md-9 steps">
          <h2>Help someone else</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    {{> landingCallToAction}}
  </div>

</template>

<template name="landingCallToAction">
  <div class="row call-to-action">

    {{#if showBoth}}
      <div class="col-md-3">
        <div class="square-button help-others-btn">
          Help Others
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <div class="square-button ask-question-btn">
          Ask a Question
        </div>
      </div>    
    {{/if}}

    {{#if helpOthers}}
      {{> landingHelpOthers}}
    {{/if}}

    {{#if askQuestion}}
      {{> landingAskQuestion}}
    {{/if}}
  </div>
</template>

<template name="landingHelpOthers">
  <div class="col-md-5 help-others-wrapper">
    <form role="form" class="help-others-form">
      <div class="questions-group">
        <input type="text" class="form-control name" placeholder="Name">
        <select class="form-control school">
            <option value="High School">High School</option>
            <option value="McGill University">McGill University</option>
            <option value="McMaster University">McMaster University</option>
            <option value="Ryerson University">Ryerson University</option>
            <option value="McGill University">McGill University</option>
            <option value="University of British Columbia">University of British Columbia</option>
            <option value="University of Toronto">University of Toronto</option>
            <option selected="selected" value="University of Waterloo">University of Waterloo</option>
            <option value="University of Western Ontario">University of Western Ontario</option>
            <option value="York University">York University</option>
            <option value="Other">Other</option>
        </select>

        {{!<input type="text" class="form-control school" placeholder="School">}}

        <input type="email" class="form-control email" placeholder="Email">
        <input type="password" class="form-control password" placeholder="Password">
      </div>
      <div class="submit-group">
        <input class="btn help-others-form-button" type="submit" value="Register">
      </div>
    </form>
  </div>
</template>

<template name="landingAskQuestion">
  <div class="col-md-5 ask-question-wrapper">
    <form role="form" class="ask-question-form">
      <div class="questions-group">
        <textarea placeholder="Question: Without photosynthesis, how would the biosphere adapt?" class="form-control question" rows="3"></textarea>
        <input type="text" class="form-control name" placeholder="Name">
        <select class="form-control school">
            <option value="High School">High School</option>
            <option value="McGill University">McGill University</option>
            <option value="McMaster University">McMaster University</option>
            <option value="Ryerson University">Ryerson University</option>
            <option value="McGill University">McGill University</option>
            <option value="University of British Columbia">University of British Columbia</option>
            <option value="University of Toronto">University of Toronto</option>
            <option selected="selected" value="University of Waterloo">University of Waterloo</option>
            <option value="University of Western Ontario">University of Western Ontario</option>
            <option value="York University">York University</option>
            <option value="Other">Other</option>
        </select>
        <input type="email" class="form-control email" placeholder="Email">
        <input type="password" class="form-control password" placeholder="Password">
      </div>
      <div class="submit-group">
        <input class="btn ask-question-form-button" type="submit" value="Ask">
      </div>
    </form>
  </div>  
</template>