<head>
	<link rel="stylesheet" href="team.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>	
</head>
<body>	
		<div id="wrapper">
			<h1>Meet the Team</h1>
			<h2>We are three Systems Design Engineering undergraduates from the University of Waterloo.</h2>
			<div class="col"><img src="../../../public/kelly.jpg"></div>
			<div class="col"><img src="../../../public/sumanyu.jpeg"></div>
			<div class="col"><img src="../../../public/davin.jpg"></div>
			<h3 class="col">Kelly Li</h3>
			<h3 class="col">Sumanyu Sharma</h3>
			<h3 class="col">Davin Wong</h3>
			<h4 class="col">Designer</h4>
			<h4 class="col">Co-founder</h4>
			<h4 class="col">Co-founder</h4>
			<p class="col">I'm currently working as a designer at 500px. I like video games and guidelines. Also a lover of clean edges.<br><br> Striving to be a better programmer, always learning.</p>
			<p class="col">I am the keeper of our vision - making PairBasket a product that people truly love.<br><br>I've done software/data/product dev and marketing work with several start-ups including FutureAdvisor (YC, Sequoia).</p>
			<p class="col">I code my ideas to life, PairBasket included. I have had amazing experiences at Coursera and Top Hat.<br><br>I code my audacious ideas to life, PairBasket included. I have had amazing experiences at Coursera and Top Hat.</p>
		</div><!-- wrapper -->
		<div id="buttonwrapper">
			<div id="button"> Back to PairBasket</div>			
		</div>
		<div id="space"></div>
</body>
