<template name="ask_question">
	<div class="overlay"></div>
	<div class="ask-question-popup">
	
		<form role="form" class="questionForm">
			<div class="form-group">
				<textarea id="question-category" placeholder="Category" class="form-control" rows="1"></textarea>
			</div>

			<div class="form-group">
				<textarea id="question-title" placeholder="Topic" class="form-control" rows="1"></textarea>
			</div>

			<div class="form-group">
				<textarea id="question-text" placeholder="Question" class="form-control" rows="5">{{getFirstQuestion}}</textarea>
			</div>

			<div class="form-group">
				<textarea id="karma-offered" placeholder="Karma" class="form-control" rows="1"></textarea>
			</div>

			<input id="question-submit" class="yellow-button" type="submit" value="ASK">
		</form>
	
	</div>

</template>