<template name="ask_question">
	<div class="overlay"></div>
	<div class="ask-question-popup">
	
		<form role="form" class="questionForm">
			<div class="form-group">
				<textarea id="question-category" class="form-control" rows="1"></textarea>
				<textarea id="question-title" class="form-control" rows="1"></textarea>
				<textarea id="question-text" class="form-control" rows="5"></textarea>
				<textarea id="karma-offered" class="form-control" rows="1"></textarea>
			</div>

			<input id="question-submit" class="yellow-button" type="submit" value="ASK">
		</form>
	
	</div>

	<a style="display: none;" class="btn btn-primary" id="btnAskQuestion" role="button" href="{{ pathFor 'addQuestion' }}">Ask Question</a>
</template>