<template name="question">
	<div class="question-tile">
    <div class="question-tile-left">
      <div class="left-item">
        {{#each tags}}
          <div class="question-tag">{{this}}</div>
        {{/each}}
      </div>
      <div class="left-item question-title">
        <p>{{title}}</p>
      </div>
      <div class="left-item">
        <p>{{question}}</p>
      </div>
    </div>
    <div class="question-tile-right">
      <div class="question-circle">{{karmaOffered}}</div>
      <div class="accept-question yellow-button">Accept</div>
    </div>
  </div>
</template>