<template name="questionsPage">

  {{#if askQuestion}}
    {{> askQuestionForm}}
  {{else}}
  {{/if}}

  {{#if foundTutor}}
    <div class="overlay"></div>
    <div class="found-tutor-popup">
      <h3>You've been matched <br/>
      with a tutor.</h3>

      {{!
      <div class="tutor-box">
        <div class="tutor-picture">
          <img src="/sumanyu.jpeg"/>
        </div>
        <div class="tutor-info">
          <p>Sumanyu Sharma</p>
          <p>Systems Design Engineering</p>
          <p>University of Waterloo</p>
        </div>
      </div>
      }}

      <div class="start-session-button yellow-button">
        Start <br/>
        Session
      </div>
      <span class="decline-button">Decline</span>
    </div>
  {{/if}}

  {{#if notEnoughKarma}}
    <div class="overlay"></div>
    <div class="not-enough-karma-popup">
      <h2>Not enough Karma!</h2>
      <h3>Let's go help somebody.</h3>

      <div class="back-to-dashboard-button yellow-button">
        Back to <br/>
        Dashboard
      </div>
      <span>(Get Karma by helping other people)</span>
    </div>
  {{/if}}

  <div class="question-sidebar">
    {{#each allCategory}}
      {{#if isCategoryActive this }}
        <div id="{{this}}" class="category active">{{underscoreToSpace this}}</div>
      {{else}}
        <div id="{{this}}" class="category inactive">{{underscoreToSpace this}}</div>
      {{/if}}
    {{/each}}
  </div>

  <div class="question-list">
    {{#if questionsLoaded}}
        <div class="owned-questions">
          {{#each ownedQuestions}}
              {{> ownedQuestionTile}}
          {{/each}}
        </div>
        <div class="other-questions">
          {{#each otherQuestions}}
              {{> otherQuestionTile}}
          {{/each}}
        </div>
    {{else}}
        Loading...
    {{/if}}
  </div>

</template>