<template name="questionsPage">
  {{# if waitingForTutor}}
    <div class="searching-for-tutor">
      <p>Searching for tutor...<p>
      <img src="/searching.gif"/>
    </div>
  {{/if}}

  {{#if askQuestion}}
    {{> ask_question}}
  {{else}}
  {{/if}}

  {{#if foundTutor}}
    <div class="overlay"></div>
    <div class="found-tutor-popup">
      <h3>You've been matched <br/>
      with a tutor.</h3>
      <div class="tutor-box">
        <div class="tutor-picture">
          <img src="/sumanyu.jpeg"/>
        </div>
        <div class="tutor-info">
          <p>Sumanyu Sharma</p>
          <p>Systems Design Engineering</p>
          <p>University of Waterloo</p>
        </div>
      </div>

      <div class="yellow-button start-session-button">
        Start <br/>
        Session
      </div>
      <span class="decline-button">Decline</span>
    </div>

  {{/if}}

  <div class="question-list">
    {{#if questionsLoaded}}
        {{#each questions}}
            {{> question}}
        {{/each}}
    {{else}}
        Loading...
    {{/if}}
  </div>

</template>