<template name="question_board">
  {{#if askQuestion}}
    {{> ask_question}}
  {{else}}
    
  {{/if}}
  <div class="question-list">
    {{#if questionsLoaded}}
        {{#each questions}}
            {{> question}}
        {{/each}}
    {{else}}
        Loading...
    {{/if}}
  </div>

  <table style='display: none;' class="table table-striped table-hover">
      <thead>
          <tr>
        <th>Question</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Karma Offered</th>
        <th></th>
      </tr>           
      </thead>
      <tbody>
          {{#if questionsLoaded}}
              {{#each questions}}
                  {{> question}}
              {{/each}}
          {{else}}
              Loading...
          {{/if}}
      </tbody>
  </table>

</template>