<template name="question_board">
  {{# if waitingForTutor}}
    <div class="searching-for-tutor">
      <p>Searching for tutor...<p>
      <img src="/searching.gif"/>
    </div>
  {{/if}}

  {{#if askQuestion}}
    {{> ask_question}}
  {{else}}
  {{/if}}

  {{#if foundTutor}}
    <div class="overlay"></div>
  {{/if}}

  <div class="question-list">
    {{#if questionsLoaded}}
        {{#each questions}}
            {{> question}}
        {{/each}}
    {{else}}
        Loading...
    {{/if}}
  </div>

</template>