<template name="feedback">
	<div id="feedback">
	  <a href="#">feedback</a>
	</div>

	{{#if feedbackPopup}}
	<div class="overlay"></div>
	<div class="feedback-popup popup">
		<div class="container">
			<button class="close close-popup-button">&times;</button>
			<form role="form" class="feedbackForm">
				<p><i>We are building this platform for you. Let us know what you like, how we can improve, and new features you would like to see!</i></p>
				<div class="form-group">
					<textarea class="feedback-text form-control" placeholder="Feedback" rows="5"></textarea>
				</div>

					<input id="feedback-submit" class="yellow-button submit-feedback pull-right" type="submit" value="Send">
			</form>	
		</div>
	</div>
	{{/if}}
</template>