<template name="feedback">
	<div id="feedback">
	  <a href="#">feedback</a>
	</div>

	{{#if feedbackPopup}}
	<div class="overlay"></div>
	<div class="feedback-popup popup">
		<div class="container">
			<button class="close close-popup-button">&times;</button>
			<form role="form" class="feedbackForm">
				<p><i>Your feedback allows us to build the enjoyable community we all desire. Thank you for letting us know what we are doing well, how we can improve, and which features you would like to see!</i></p>
				<div class="form-group">
					<textarea class="feedback-text form-control" placeholder="Feedback" rows="5"></textarea>
				</div>

					<input id="feedback-submit" class="yellow-button submit-feedback pull-right" type="submit" value="SEND">
			</form>	
		</div>
	</div>
	{{/if}}
</template>