<template name="header">
    <div class="header">
      <div class="header-content">
        <div class="header-title">
          <h2>PairBasket</h2>
        </div>
        <div class="header-buttons">
          <div class="header-icon ask-question">
            <div class="header-circle">..</div>
            <span class="icon-text">ASK</span>
          </div>
          <div class="header-icon">
            <div class="header-circle">45</div>
            <span class="icon-text">KARMA</span>
          </div>
        </div>
      </div>
    </div>
</template>