<template name="header">
  <div class="header">
    <div class="header-content">
      <div class="header-title">
        <div class="logo-wrapper">
          <img class="logo" src="/logo-black.png"></img>
        </div>
        <div class="title-wrapper">
          PairBasket
        </div>
      </div>
      <div class="header-buttons">
        {{#if currentUser}}
          {{#if headerAskQuestionButton}}
          <div class="header-icon ask-question">
            <img class="ask-question-icon" src="/ask.png" width="45" height="45"></img>
            <span class="icon-text"><b>Ask</b></span>
          </div>
          {{/if}}
        <div class="header-icon">
          <div class="header-circle">{{userKarma}}</div>
          <span class="icon-text"><b>Karma</b></span>
        </div>
        {{/if}}
        <div class="header-icon header-login">
          {{loginButtons}}
        </div>
      </div>
    </div>
  </div>
</template>