<template name="profilePage">
	{{setProfileId profileId}}
	<div class="section">
		<div class="picture">
			<img src="/sumanyu.jpeg"/>
		</div>
		<div class="name">{{currentUser.profile.name}}</div>
		<div class="school">{{underscoreToSpace currentUser.profile.school}}</div>
		<div class="tutees">I have helped {{tutees}}</div>
		<div class="tutors">I was helped by {{tutors}}</div>
		{{getProfileId}}
	</div>

	<div class="section">
		<h1>Skills</h1>
		{{#if editingSkills}}
			<div class="edit-skills-button blue-button">Hide Inactive</div>
		{{else}}
			<div class="edit-skills-button blue-button">Edit</div>
		{{/if}}

		{{#each skills}}
			{{#if isSkillActive this}}
			<div id="{{this._id}}" class="skill-box active">
				{{underscoreToSpace this.name}}
			</div>
			{{else}}
				{{#if editingSkills}}
				<div id="{{this._id}}" class="skill-box inactive">
					{{underscoreToSpace this.name}}
				</div>
				{{/if}}
			{{/if}}

		{{/each}}
	</div>

<!-- 	<div class="section">
		<h1>My Skills</h1>
		{{#each activeSkills}}
			<div id="{{this._id}}" class="skill-box active">
				{{this.name}}
			</div>
		{{/each}}
	</div> -->
<!--
		<div>
		{{#each ownedSkills}}
			{{skillName this.skillId}}
		{{/each}}
		</div>
-->

</template>