<template name="profilePage">
	{{getProfile profileId}}
	<div>You are browsing Profile Id: {{profile.id}}</div>
	<div class="section">
		<div class="picture">
			<!-- <img src="/sumanyu.jpeg"/> -->
		</div>
		<div class="name">{{profile.name}}</div>
		<div class="school">{{underscoreToSpace profile.school}}</div>
		<h1>Allies</h1>
		<div class="tutees">Mentors: {{profile.tutees}}</div>
		<div class="tutors">Pupils: {{profile.tutors}}</div>
	</div>

	<div class="section">
		<h1>Disciplines</h1>
		{{#if viewingSelfProfile}}
			{{#if editingSkills}}
				<div class="edit-skills-button blue-button">Hide Inactive</div>
			{{else}}
				<div class="edit-skills-button blue-button">Edit</div>
			{{/if}}
		{{/if}}

		{{#each skills}}
			{{#if isSkillActive this}}
			<div id="{{this._id}}" class="skill-box active">
				{{underscoreToSpace this.name}}
			</div>
			{{else}}
				{{#if editingSkills}}
				<div id="{{this._id}}" class="skill-box inactive">
					{{underscoreToSpace this.name}}
				</div>
				{{/if}}
			{{/if}}

		{{/each}}
		
	</div>
	<div class="section">
		<h1>Inventory</h1>
		<div id="item1" class="skill-box active">Oak, the Panda Sage</div>
		<div id="item2" class="skill-box active">Snarling Dragon</div>
	</div>

</template>