<template name="profilePage">
	{{getProfile profileId}}
	<div class="dashboard-button">
		<p>
			<a href="/dashboard">Back to Dashboard</a>
		</p>
	</div>

	<div class="section">
		<div class="personal">
			<div class="picture">
				<img style="width: 150px" src="/logo-black.png"/>
			</div>
			<div class="name">{{profile.name}}</div>
			<div class="school">{{underscoreToSpace profile.school}}</div>
		</div>

		<div class="tutees">
			<h4>Students</h4>
			{{#each profile.tutees}}
			<div class="profile-picture">
				<a href='/profile/{{this.userId}}' title='{{this.name}}'><img style="height: 34px; width: 25px" src="/logo-black.png"/></a>
			</div>
			{{/each}}
		</div>

		<div class="tutors">
			<h4>Mentors</h4>
			{{#each profile.tutors}}
			<div class="profile-picture">
				<a href='/profile/{{this.userId}}'title='{{this.name}}'><img style="height: 34px; width: 25px" src="/logo-black.png"/></a>
			</div>
			{{/each}}
		</div>
	</div>

	<div class="section">
		<h1>Disciplines</h1>
		{{#if viewingSelfProfile}}
			<p>
			{{#if editingSkills}}
				<a class="edit-skills-button">Hide Inactive</a>
			{{else}}
				<a class="edit-skills-button">Edit</a>
				{{#if noActiveSkills}}
				<p>Let us know your strengths so that we can recommend the right questions</p>
				{{/if}}
			{{/if}}
			</p>
		{{/if}}

		{{#each skills}}
			{{#if isSkillActive this}}
			<div id="{{this._id}}" class="skill-box active">
				{{underscoreToSpace this.name}}
			</div>
			{{else}}
				{{#if editingSkills}}
				<div id="{{this._id}}" class="skill-box inactive">
					{{underscoreToSpace this.name}}
				</div>
				{{/if}}
			{{/if}}

		{{/each}}
		
	</div>
	{{!--
	<div class="section">
		<h1>Inventory</h1>
		<div id="item1" class="skill-box active">Oak, the Panda Sage</div>
		<div id="item2" class="skill-box active">Snarling Dragon</div>
	</div>
	--}}

</template>